:root {
    /* Color styles */
--white: #FAFAFA;
--rouge: #B31942;
--bleu: #0A3161;
--noir: #151515;
--cbleu: #B2E4FF;

/* Text-size styles */
--h1: 28px;
--h2: 22px;
--h3: 22px;
--b1: 14px;
--b2: 14px;
--b3: 12px;
--t1: 30px;

/* Font-family styles */
--tf: overpass, sans-serif;
}