.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
}  
.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;    
}  
.carrousel_ecran figure {
    margin: 0;  
} 
.carrousel {
    position: relative; 
    background-color: var(--bleu); 
    border-style: solid;
    border-color: var(--cbleu);
    border-width: 3px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btnCarAv {
    left: 0;
}  
.btnCarAp {
    right: 0;
}
.imgcar{
    width: 100%;
}
.cartit{
    font-size: var(--h3);
    font-weight: 400;
    color: var(--white);
    font-family: var(--tf);
    margin: 11px;
    padding: 10px 0px;
}
.caroussel_liste-liens {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    padding: 10px;
}
.carrousel_lien{
    color: var(--white);
    display: block;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--cbleu);
    padding: 5px;
    text-decoration: none;
}
.carrousel_lien :active{
    color: var(--white);
    display: block;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--bleu);
    padding: 5px;
}
.carrousel_btn{
    background: none;
    border-style: none;
}
.carrousel_btn {
    position: absolute;
    top: 65%;
    display: grid;
    place-content: center;
}  
div::-webkit-scrollbar {
    width: 2px;
    height: 9px;
    color: var(--cbleu);
}
figcaption{
    font-size: var(--b3);
    font-weight: 400;
    color: var(--white);
    font-family: var(--tf);
    padding: px 7px;
    padding-bottom: 0px;
}
